@charset "utf-8";
/* CSS Document */
/*Resume_and_Index_Style_Start*/
body{
	font-family: Audiowide;
	background-color: #C5BCC4;
	margin: 0;
}
.container_1{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #9BB9CC;
}
.header{
	width: 100%;
	height: 8%;
	background-color: #DCB39C;

}
.logo{
	color: #8F8584;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 4px;
	text-align: center;
	padding-top: 15px;
	font-size: 25px;
	line-height: 2em;
}
.navigation{
	overflow: hidden;
}
.navigation a{
	float: left;
	color: #8F8584;
	font-weight: bold;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	letter-spacing: 1px;
}
.navigation a:hover{
	background-color: #9BB9CC;
	color: #8F8584;
}
.intro{
	display: inline-block;
	background-color: #9BB9CC;
	padding-bottom: 35px;
}
.column{
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
.intro .column h3{
	color: #8F8584;
	text-align: center;
	letter-spacing: 4px;
	font-size: 20px;

}
.intro .column h4{
	color: 	#160E0B;
	text-align: center;
	letter-spacing: 4px;
	font-size: 15px;
	padding-right: 50px;

}
.intro .column p{
	color: #160E0B;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 1%;	
	width: 80%
}
.profile_1{
	width: 75%;
	border-radius: 5%;
}
.profile_2{
	width: 75%;
	border-radius: 5%;
}
.profile_3{
	width: 75%;
	border-radius: 5%;
}
.gallery{
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #9BB9CC;
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.accordion{
	width: 100%;
	max-width: 1080px;
	height: 250px;
	overflow: hidden;
	margin: 50px auto;
}
.accordion ul{
	width: 100%;
	display: table;
	table-layout: fixed;
	margin: 0;
	padding: 0;
}
.accordion ul li{
	display: table-cell;
	vertical-align: bottom;
	position: relative;
	width: 16.666%;
	height: 250px;
	background-repeat: no-repeat;
	background-position: center center;
	transition: all 500ms ease;
}
.accordion ul li div{
	display: block;
	overflow: hidden;
	width: 100%;
}
.accordion ul li div a{
	display: block;
	height: 250px;
	width: 100%;
	position: relative;
	z-index: 3;
	vertical-align: bottom;
	padding: 15px 20px;
	box-sizing: border-box;
	color: white;
	text-decoration: none;
	font-family: Audiowide;
	transition: all 200ms ease;
}
.accordion ul li div a *{
	opacity: 0;
	margin: 0;
	width: 100%;
	text-overflow: ellipsis;
	position: relative;
	z-index: 5;
	white-space: nowrap;
	overflow: hidden;
	-webkit-webkit-webkit-transform: translateX(-20px);
	transform: translate(-20px);
	-moz-webkit-webkit-transform: translateX(-20px);
	transform: translate(-20px);
	-ms-webkit-webkit-transform: translateX(-20px);
	transform: translate(-20px);
	-o-webkit-webkit-transform: translateX(-20px);
	transform: translate(-20px);
	webkit-webkit-transform: translateX(-20px);
	transform: translate(-20px);
	-webkit-webkit-transition: all 400ms ease;
	transition: all 400ms ease;
	-moz-webkit-transition: all 400ms ease;
	transition: all 400ms ease;
	-ms-webkit-transition: all 400ms ease;
	transition: all 400ms ease;
	-o-webkit-transition: all 400ms ease;
	transition: all 400ms ease;
	webkit-transition: all 400ms ease;
	transition: all 400ms ease;
}
.accordion ul li div a h2{
	font-family: Audiowide;
	text-overflow: clip;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 2px;
	top: 160px;
	padding-left: 15px;
}
.accordion ul li div a p{
	top: 160px;
	font-size: 13.5px;
}

.progress-bar-html{
	text-align: center;
	background-color: purple;
	color: white;
}
.progress-bar-js{
	text-align: center;
	background-color: green;
	color: white;
}
.progress-bar-boot{
	text-align: center;
	background-color: violet;
	color: white;
}
.progress-bar-Cplusplus{
	text-align: center;
	background-color: blue;
	color: white;
}
.progress-bar-dw{
	text-align: center;
	background-color: coral;
	color: white;
}
.progress-bar-sp{
	text-align: center;
	background-color: orange;
	color: white;
}
.progress-bar-teams{
	text-align: center;
	background-color: teal;
	color: white;
}
.progress-bar-o365{
	text-align: center;
	background-color: pink;
	color: white;
}
.accordion ul li:nth-child(1){background-image: url("https://unsplash.it/g/650/250?image=48")}
.accordion ul li:nth-child(2){background-image: url("https://unsplash.it/g/650/250?image=60");}
.accordion ul li:nth-child(3){background-image: url("https://unsplash.it/g/650/250?image=180");}
.accordion ul li:nth-child(4){background-image: url("https://unsplash.it/g/650/250?image=201");}
.accordion ul li:nth-child(5){background-image: url("https://unsplash.it/g/650/250?image=4");}
.accordion ul li:nth-child(6){background-image: url("https://unsplash.it/g/650/250?image=366");}
.accordion ul li:nth-child(7){background-image: url("https://unsplash.it/g/650/250?image=367");}
.accordion ul li:nth-child(8){background-image: url("https://unsplash.it/g/650/250?image=403");}
.accordion ul:hover li{width: 8%;}
.accordion ul:hover li:hover{width: 60%;}
.accordion ul:hover li:hover a{background: rgba(0,0,0,0.4);}
.accordion ul:hover li:hover a *{
	opacity: 1; 
	-webkit-webkit-transform: translateX(0);
	transform: translate(0);
	-moz-webkit-transform: translateX(0);
	transform: translate(0);
	-ms-webkit-transform: translateX(0);
	transform: translate(0);
	-o-webkit-transform: translateX(0);
	transform: translate(0);
	webkit-transform: translateX(0);
	transform: translate(0);
}
@media screen and (max-width: 600px){
	.accordion {height: auto;}
	.accordion ul li,
	.accordion ul li:hover,
	.accordion ul:hover li,
	.accordion ul:hover li:hover{
		position: relative;
		display: table;
		table-layout: fixed;
		width: 100%;
		-webkit-webkit-transtition: none;
		transition: none;
		-moz-webkit-transtition: none;
		transition: none;
		-ms-webkit-transtition: none;
		transition: none;
		-o-webkit-transtition: none;
		transition: none;
		webkit-transtition: none;
		transition: none;
	}
}

.copyright{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #DCB39C;
	color: #8F8584;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
}
.fa{
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}
.fa:hover{
	opacity: .7;
}
.fa-facebook{
  	background: #3B5998;
  	color: white;
}
.fa-google {
  	background: #dd4b39;
  	color: white;
}
.fa-linkedin {
  	background: #007bb5;
  	color: white;
}
.fa-skype {
  	background: #00aff0;
  	color: white;
}
.fa-instagram {
 	background: #125688;
  	color: white;
}
.fa-twitter {
  	background: #55ACEE;
  	color: white;
}

/*Resume_and_Index_Style_End*/

/*Contact_Me_Style_Start*/
.msgbtn {
	width: 5%;
	cursor: pointer;
	border-radius: 80px;
	color: white;
	background: linear-gradient(to right, #DCB39C, #9BB9CC);
	border: 2px solid white;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin: auto;
	font-size: 13px;
	box-shadow: none;
	text-transform: uppercase;
}
/*Contact_Me_Style_End*/

/*Contact_Form_Style_Start*/
input[type=text], select, textarea {
	width: 95%;
	padding: 12px;
	border: 2px solid #5d5e5d;
	border-radius: 5px;
	margin-top: 6px;
	margin-bottom: 16px;
	margin-left: 30px;
	resize: vertical;
}
label {
	color: white;
	margin-left: 30px;
}
.submit {
	width: 5%;
	cursor: pointer;
	border-radius: 80px;
	color: white;
	background: linear-gradient(to right, #DCB39C, #9BB9CC);
	border: 2px solid white;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin: auto;
	font-size: 13px;
	box-shadow: none;
	text-transform: uppercase;
	display: block;
	overflow: hidden;
	text-align: center;
}
.form_container {
	border-radius: 5px;
	background-color: #9BB9CC;
	padding: 20px;
}


/*Contact_Form_Style_End*/